<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>Cocoding</title>

    <!-- jQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Moment.js -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>

    <!-- Google Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed|Fjalla+One|Varela+Round" rel="stylesheet">

    <!--CSS-->
    <link href="css/landingpage.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/signupbox.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    
    <!-- Shelby's CSS -->
    <link rel="stylesheet" type="text/css" href="/css/shelbystyle.css">
    
    <!-- Jaycen's CSS - Only relavent to the Code Editor and Live Code View (not collab) -->
    <link rel="stylesheet" type="text/css" href="/css/jaycen.css">
    
    <script src="/js/jaycen.js"></script>
    
    <!-- Code Mirror's CSS -->
    <link rel="stylesheet" href="/node_modules/codemirror-minified/lib/codemirror.css">
    
    <!-- Code Mirror's Javascript -->
    <script src="/node_modules/codemirror-minified/lib/codemirror.js"></script>
    
    <!-- Code Mirror - Setting the Editor's language -->
    <script id="lang" src="/node_modules/codemirror-minified/mode/htmlmixed/htmlmixed.js"></script>
    
    <!--Code Mirror - Hints CSS -->
    <link rel="stylesheet" href="/node_modules/codemirror-minified/addon/hint/show-hint.css">
    
    <!--Code Mirror - Hints JS -->
    <link rel="stylesheet" href="/node_modules/codemirror-minified/addon/hint/show-hint.js">
    
    <!-- Code Mirror - Hints: xml Javascript -->
    <script src="/node_modules/codemirror-minified/addon/hint/xml-hint.js"></script>
    
    <!-- Code Mirror - Hints: html Javascript -->
    <script src="/node_modules/codemirror-minified/addon/hint/html-hint.js"></script>
    
    <!-- Code Mirror - Hints: Javascript Javascript -->
    <script src="/node_modules/codemirror-minified/addon/hint/javascript-hint.js"></script>
    
    <!-- Code Mirror - Language: XML - Javascript -->
    <script src="/node_modules/codemirror-minified/mode/xml/xml.js"></script>
    
    <!-- Code Mirror - Language: JavaScript - Javascript -->
    <script src="/node_modules/codemirror-minified/mode/javascript/javascript.js"></script>
    
    <!-- Code Mirror - Language: htmlmixed - Javascript -->
    <script src="/node_modules/codemirror-minified/mode/htmlmixed/htmlmixed.js"></script>
    
    <!-- Code Mirror - Language: CSS - Javascript -->
    <script src="/node_modules/codemirror-minified/mode/css/css.js"></script>
    
    <!-- Code Mirror - Language: Handlebars - Javascript -->
    <script src="/node_modules/codemirror-minified/mode/handlebars/handlebars.js"></script>
    
    <!-- Code Mirror Editor Theme -->
    <link rel="stylesheet" href="/node_modules/codemirror-minified/theme/rubyblue.css">

    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">

    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>

    <!-- Materialize Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed|Fjalla+One|Varela+Round" rel="stylesheet">

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!--CSS-->
    <link href="css/landingpage.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/signupbox.css" type="text/css" rel="stylesheet" media="screen,projection"/>


</head>
<body>
    
{{{ body }}}
    
</body>
</html>
