<nav class="blue-grey darken-4">
    <div class="nav-wrapper">
        <div id="navPosition">
            <img id="robotsSize"src="img/logorobot.png" alt="robotlogo">
            <a id="logo-container " href="/" class="brand-logo">cocoding</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/companies">Companies</a></li>
                <li><a href="/classrooms">Classrooms</a></li>
                <li><a class="btn modal-trigger" data-target="loginModal" href="#loginModal">Login</a></li>
            </ul>
        </div>
    </div>
</nav>


<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <!--<div class="container">-->
        <div id="signUpAndTagDiv">

            <div class="row">
                <div class="row" id="howWorksTitle"></div>
                <div class="row" id="howWorksTitle"></div>
                <div class="row" id="howWorksTitle"></div>
                <div class="row" id="howWorksTitle"></div>
                <div class="col s6">
                    <h1 id="empowerText">"I wanted to make cocoding to help coders learn without the hassle"</h1>
                    <h6 class="black-text" >-Jaycen Milling, Full Stack developer</h6>
                </div>
                <div class="row" id="howWorksTitle"></div>
                <h5 class="header col s12 light"><a class="btn modal-trigger pulse" data-target="signUpModal" href="#signUpModal">Start                       Now</a></h5>

            </div>
        </div>
    </div>

    <div class="parallax"><img src="img/classroomstopimage-1.png" alt="Unsplashed background img 1"></div>
</div>

<div class="parallax-container valign-wrapper grey lighten-3 z-depth-3">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row" id="howWorksTitle">Why learn with cocoding?</div>
            <div class="row" id="howWorksTitle"></div>
            <div class="row" id="howWorksTitle"></div>
            <div class="row" id="howWorksTitle"></div>
            <div class="row" id="howWorksTitle"></div>
            <div class="row">
                <div class="col s4 center">
                    <i class="small material-icons black" id="icons">apps</i>
                    <h5 class="text-black">No Plugins</h5>
                    <p class="black-text"> Code without having to download any plugins</p>
                </div>
                <div class="col s4 center">
                    <i class="small material-icons black">apps</i>
                    <h5 class="text-black">Community</h5>
                    <p class="black-text center"> Use cocoding community to learn to code or simply to get better at coding.</p>
                </div>
                <div class="col s4 center">
                    <i class="small material-icons black">apps</i>
                    <h5 class="text-black">No Hassle</h5>
                    <p class="black-text">Learn to code with no hassles of finding the templates to start coding.</p>
                </div>
            </div>
            <div class="row">
                <div class="col s4 center">
                    <i class="small material-icons black">apps</i>
                    <h5 class="text-black">Live Video Chat</h5>
                    <p class="black-text">Be able to video chat with another coder from around the world.</p>
                </div>
                <div class="col s4 center">
                    <i class="small material-icons black">apps</i>
                    <h5 class="text-black">Instant Feedback</h5>
                    <p class="black-text">Live code and get instant feedback on your work.</p>
                </div>
                <div class="col s4 center">
                    <i class="small material-icons black">apps</i>
                    <h5 class="text-black">Endless languages</h5>
                    <p class="black-text">Choose from over a hundred languages and be able to pick the language that is right from                       you.</p>
                </div>
            </div>

        </div>
    </div>
    <!--<div class="parallax"><img src="img/rotbotbg.png" id="robotBg" alt="Unsplashed background img 3"></div>-->
</div>

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <!--<div class="container">-->
        <div id="signUpAndTagDiv">

            <div class="row">
                <div class="row" id="howWorksTitle"></div>
                <div class="row" id="howWorksTitle"></div>
                <div class="row" id="howWorksTitle"></div>
                <div class="row" id="howWorksTitle"></div>
                <div class="col s6">
                    <h1 id="empowerText">"cocoding is a good way people can code peer to peer."</h1>
                    <h6 class="black-text" >-Shelby Deel, Frontend developer</h6>
                </div>
                <div class="row" id="howWorksTitle"></div>
                <h5 class="header col s12 light"><a class="btn modal-trigger pulse" data-target="signUpModal" href="#signUpModal">Start Now</a></h5>

            </div>
        </div>
    </div>

    <div class="parallax"><img src="img/companiesimage.png" alt="Unsplashed background img 1"></div>
</div>
<div id="loginModal" class="modal modal-fixed-footer center authModal blue">
    <div id="loginBox">
        <div class="content">
            <div class="title">cocoding Login</div>
            <input id="loginUsername" type="text" placeholder="Coder Name"/>
            <input id="loginPassword" type="password" placeholder="Password"/>
            <input type="checkbox" id="rememberMe"/>
            <label for="rememberMe"></label><span>I have read and agree to the <a href="#">Terms of Use </a>and <a href="#">Privacy                Policy</a></span>
            <button id="loginSubmit">Sign In</button>
            <div class="social"> <span>or sign in with social media</span></div>
            <div class="buttons">
                <button class="facebook"><i class="fa fa-facebook"></i>Facebook</button>
                <button class="twitter"><i class="fa fa-twitter"></i>Twitter</button>
                <button class="google"><i class="fa fa-google-plus"></i>Google</button>
            </div>
        </div>
    </div>
</div>

<div id="signUpModal" class="modal modal-fixed-footer center authModal blue">
    <div id="signUpBox">
        <div class="content">
            <div class="title">cocoding Sign Up</div>
            <input id="signUpUsername" type="text" placeholder="Coder Name"/>
            <input id="signUpPassword" type="password" placeholder="Password"/>
            <input type="checkbox" id="rememberMe"/>
            <label for="rememberMe"></label><span>I have read and agree to the <a href="#">Terms of Use </a>and <a href="#">Privacy                Policy</a></span>
            <button id="signUpSubmit">Sign Up</button>
            <div class="social"> <span>or sign in with social media</span></div>
            <div class="buttons">
                <button class="facebook"><i class="fa fa-facebook"></i>Facebook</button>
                <button class="twitter"><i class="fa fa-twitter"></i>Twitter</button>
                <button class="google"><i class="fa fa-google-plus"></i>Google</button>
            </div>
        </div>
    </div>
</div>


<footer class="page-footer blue-grey darken-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">cocoding</h5>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">About the team</h5>
                <ul>
                    <li><a class="white-text" href="https://github.com/jaycen9887">Jacyen Milling</a></li>
                    <li><a class="white-text" href="https://github.com/mekaknepley">Meka Knepley</a></li>
                    <li><a class="white-text" href="https://github.com/shelbina">Shelby Deel</a></li>
                    <!--<li><a class="white-text" href="#!">Link 4</a></li>-->
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Contact Us</h5>
                <!--<ul>-->
                <!--<li><a class="white-text" href="#!">Link 1</a></li>-->
                <!--<li><a class="white-text" href="#!">Link 2</a></li>-->
                <!--<li><a class="white-text" href="#!">Link 3</a></li>-->
                <!--<li><a class="white-text" href="#!">Link 4</a></li>-->
                <!--</ul>-->
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
        </div>
    </div>
    <h7> © 2017 cocoding</h7>
</footer>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script>
    $(document).ready(function() {
        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
        $('.modal').modal({
            opacity: .9
        });

        $('.button-collapse').sideNav();
        $('.parallax').parallax();
    });

    $(".facebook").click(function(){
        window.location.href="/auth/facebook";
    });

    $(".twitter").click(function(){
        window.location.href="/auth/twitter";
    });

    $(".google").click(function(){
        window.location.href="/auth/google";
    });

    $("#loginSubmit").click(function() {
        var username = $("#loginUsername").val().trim();
        var password = $("#loginPassword").val().trim();

        var jqxhr = $.post( "/login", { username:username, password:password }, function() {
            console.log( "Sent Login" );
        })
                .done(function(response) {
                    //console.log(response);
                    window.location.href = "/room";
                })
                .fail(function() {
                    console.log( "Login Fail" );
                });

    });

    $("#signUpSubmit").click(function(){
        var username = $("#signUpUsername").val().trim();
        var password = $("#signUpPassword").val().trim();

        var jqxhr = $.post( "/signup", { username:username, password:password }, function() {
            console.log( "Sent Sign Up" );
        })
                .done(function(response) {
                    //console.log(response);
                    window.location.href = "/room";
                })
                .fail(function() {
                    console.log( "Sign Up Fail" );
                });
    });
</script>