
<nav class="blue-grey darken-4">
    <div class="nav-wrapper">
    <div id="navPosition">
        <img id="robotsSize"src="img/logorobot.png" alt="robotlogo">
        <a id="logo-container " href="#" class="brand-logo">coCodingLive</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">Companies</a></li>
            <li><a href="#">Classrooms</a></li>
            <li><a class="btn modal-trigger" data-target="loginModal" href="#loginModal">Login</a></li>
        </ul>
        <!--<ul id="nav-mobile" class="side-nav">-->
            <!--<li><a class="btn modal-trigger" data-target="loginModal" href="#loginModal">Login</a></li>-->
        <!--</ul>-->
        <!--<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>-->
    </div>
    </div>
</nav>


<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <!--<div class="container">-->
        <div id="signUpAndTagDiv">

            <div class="row">
                <div class="col s6">
            <div id="signUpBox">
                <div class="content">
                    <div class="title">Coder Sign Up</div>
                    <input id="signUpUsername" type="text" placeholder="Coder Name"/>
                    <input id="signUpPassword" type="password" placeholder="Password"/>
                    <input type="checkbox" id="rememberMe"/>
                    <label for="rememberMe"></label><span>I have read and agree to the <a href="#">Terms of Use </a>and <a href="#">Privacy Policy</a></span>
                    <button id="signUpSubmit">Create Account</button>
                    <div class="social"> <span>or sign up with social media</span></div>
                    <div class="buttons">
                        <button class="facebook"><i class="fa fa-facebook"></i>Facebook</button>
                        <button class="twitter"><i class="fa fa-twitter"></i>Twitter</button>
                        <button class="google"><i class="fa fa-google-plus"></i>Google</button>
                    </div>
                    <div class="already">Already have an account? <a class="modal-trigger" data-target="loginModal" href="#loginModal">Sign In</a></div>
                </div>
            </div>
                </div>

                <div class="col s6">
                    <p id="tagLine"><strong>All the <u>tools</u><br> you need
                        to code<br> on one website</strong></p>
                    <p id="tagLine2">coCodingLive offers free file sharing,<br> choose from over 100 languages.<br> Learn to code and be able to access<br>the tools needed for development anywhere, <br>anytime with no installations required.  <br> </p>

                </div>

            </div>

            <!--<br><br>-->
            <!--<h1 class="header center teal-text text-lighten-2">Parallax Template</h1>-->
            <!--<div class="row center">-->
                <!--<h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>-->
            <!--</div>-->
            <!--<div class="row center">-->
                <!--<a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>-->
            <!--</div>-->
            <!--<br><br>-->

        <!--</div>-->
            </div>
    </div>

    <div class="parallax"><img src="img/layingimage.png" alt="Unsplashed background img 1"></div>
</div>

<div class="blue-grey lighten-4">
<div class="container ">
    <div class="section ">

        <!--   Icon Section   -->
        <div class="row" id="howWorksTitle">How coCodingLive Works</div>
        <div class="row ">
            <div class="col s12 m4">
                <div class="icon-block">
                    <!--<h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>-->
                    <h5 class="center">Sign up and share your screen with others</h5>

                    <img class="z-depth-4"id="image1"src="img/step1image.png" alt="imageforstep1">
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h5>Code with over 100 languages ready to go without downloading plugins</h5>
                    <h5 class="center"></h5>

                    <img class="z-depth-4"id="image1"src="img/step3image.png" alt="imageforstep1">
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <!--<h2 class="center brown-text"><i class="material-icons">settings</i></h2>-->
                    <h5 class="center">just save your files to the coCodinglive cloud.</h5>

                    <img class="z-depth-4" id="image1"src="img/step4image.png" alt="imageforstep1">
                </div>
            </div>
        </div>

    </div>
</div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light"></h5>
            </div>
        </div>
    </div>
    <div class="parallax blue-grey darken-2"><img src="img/codebg.png" alt="Unsplashed background img 2"></div>
</div>

<div class="langBox blue-grey darken-4">
<div class="container ">
    <div class="section">
        <div class="row ">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>coCodingLive offers over 100 different coding languages</h4>
                <p class="left-align light"></p>
            </div>
        </div>

    </div>
</div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <div class="col s5 blue-grey lighten-4" id="div3Info">6-columns (one-half)</div>
                <div class="col s2"></div>
                <div class="col s5 blue-grey lighten-4" id="div3Info">6-columns (one-half)</div>
                <div class="col s12"id="div3Info"></div>
                <h5 class="header col s12 light"><a class="btn modal-trigger pulse" data-target="loginModal" href="#loginModal">Start Now</a></h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="img/rotbotbg.png" id="robotBg" alt="Unsplashed background img 3"></div>
</div>


<div id="loginModal" class="modal modal-fixed-footer center authModal">
    <div id="loginBox">
        <div class="content">
            <div class="title">Coder Login</div>
            <input id="loginUsername" type="text" placeholder="Coder Name"/>
            <input id="loginPassword" type="password" placeholder="Password"/>
            <input type="checkbox" id="rememberMe"/>
            <label for="rememberMe"></label><span>I have read and agree to the <a href="#">Terms of Use </a>and <a href="#">Privacy Policy</a></span>
            <button id="loginSubmit">Sign In</button>
            <div class="social"> <span>or sign in with social media</span></div>
            <div class="buttons">
                <button class="facebook"><i class="fa fa-facebook"></i>Facebook</button>
                <button class="twitter"><i class="fa fa-twitter"></i>Twitter</button>
                <button class="google"><i class="fa fa-google-plus"></i>Google</button>
            </div>
        </div>
</div>
</div>

<footer class="page-footer blue-grey darken-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">coCodingLive</h5>
                <p class="grey-text text-lighten-4"</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">About the team</h5>
                <!--<ul>-->
                    <!--<li><a class="white-text" href="#!">Link 1</a></li>-->
                    <!--<li><a class="white-text" href="#!">Link 2</a></li>-->
                    <!--<li><a class="white-text" href="#!">Link 3</a></li>-->
                    <!--<li><a class="white-text" href="#!">Link 4</a></li>-->
                <!--</ul>-->
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Contact Us</h5>
                <!--<ul>-->
                    <!--<li><a class="white-text" href="#!">Link 1</a></li>-->
                    <!--<li><a class="white-text" href="#!">Link 2</a></li>-->
                    <!--<li><a class="white-text" href="#!">Link 3</a></li>-->
                    <!--<li><a class="white-text" href="#!">Link 4</a></li>-->
                <!--</ul>-->
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
        </div>
    </div>
</footer>

   <!---------------------------------------------javascript---------------------------------------------------------->
<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script>
    $(document).ready(function() {
        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();

        $('.button-collapse').sideNav();
        $('.parallax').parallax();
    });

    $("#signUpSubmit").click(function(){
        var username = $("#signUpUsername").val().trim();
        var password = $("#signUpPassword").val().trim();

        var jqxhr = $.post( "/signup", { username:username, password:password }, function() {
                console.log( "Sent Sign Up" );
            })
            .done(function(response) {
                //console.log(response);
               window.location.href = "/terminal";
            })
            .fail(function() {
                console.log( "Sign Up Fail" );
            });
    });


    $("#loginSubmit").click(function() {
        var username = $("#loginUsername").val().trim();
        var password = $("#loginPassword").val().trim();

        var jqxhr = $.post( "/login", { username:username, password:password }, function() {
                    console.log( "Sent Login" );
                })
                .done(function(response) {
                    //console.log(response);
                    window.location.href = "/terminal";
                })
                .fail(function() {
                    console.log( "Login Fail" );
                });

    });
</script>
