
<nav class="blue-grey darken-4">
    <div class="nav-wrapper">
    <div id="navPosition">
        <img id="robotsSize"src="img/logorobot.png" alt="robotlogo">
        <a id="logo-container " href="#" class="brand-logo">coCodingLive</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/companies">Companies</a></li>
            <li><a href="/classrooms">Classrooms</a></li>
            <li><a class="btn modal-trigger" data-target="loginModal" href="#loginModal">Login</a></li>
        </ul>
    </div>
    </div>
</nav>


<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <!--<div class="container">-->
        <div id="signUpAndTagDiv">

            <div class="row">
                <div class="col s6">
            <div id="signUpBox">
                <div class="content">
                    <div class="title">Coder Sign Up</div>
                    <input id="signUpUsername" type="text" placeholder="Coder Name"/>
                    <input id="signUpPassword" type="password" placeholder="Password"/>
                    <input type="checkbox" id="rememberMe"/>
                    <label for="rememberMe"></label><span>I have read and agree to the <a href="#">Terms of Use </a>and <a href="#">Privacy Policy</a></span>
                    <button id="signUpSubmit">Create Account</button>
                    <div class="social"> <span>or sign up with social media</span></div>
                    <div class="buttons">
                        <button class="facebook"><i class="fa fa-facebook"></i>Facebook</button>
                        <button class="twitter"><i class="fa fa-twitter"></i>Twitter</button>
                        <button class="google"><i class="fa fa-google-plus"></i>Google</button>
                    </div>
                    <div class="already">Already have an account? <a class="modal-trigger" data-target="loginModal" href="#loginModal">Sign In</a></div>
                </div>
            </div>
                </div>

                <div class="col s6">
                    <p id="tagLine"><strong>All the <u>tools</u><br> you need
                        to code<br> on one website</strong></p>
                    <p id="tagLine2">coCodingLive offers free file sharing,<br> choose from over 100 languages.<br> Learn to code and be able to access<br>the tools needed for development anywhere, <br>anytime with no installations required.  <br> </p>

                </div>

            </div>
            </div>
    </div>

    <div class="parallax"><img src="img/layingimage.png" alt="Unsplashed background img 1"></div>
</div>

<div class="blue-grey lighten-4">
<div class="container ">
    <div class="section ">

        <!--   Icon Section   -->
        <div class="row" id="howWorksTitle">How coCodingLive Works</div>
        <div class="row ">
            <div class="col s12 m4">
                <div class="icon-block">
                    <!--<h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>-->
                    <h5 class="center">Sign up and share your screen with others</h5>

                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h5 class="center">Code in over 100 languages without downloading plugins</h5>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <!--<h2 class="center brown-text"><i class="material-icons">settings</i></h2>-->
                    <h5 class="center">just save your files to the coCodinglive cloud.</h5>

                </div>
            </div>
        </div>        <div class="row ">
            <div class="col s12 m4">
                <div class="icon-block center">

                    <img class="z-depth-4"id="image1"src="img/step1image.png"  alt="imageforstep1">
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block center">

                    <img class="z-depth-4"id="image1"src="img/step3image.png" alt="imageforstep1">
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block center">

                    <img class="z-depth-4" id="image1"src="img/step4image.png" alt="imageforstep1">
                </div>
            </div>
        </div>

    </div>
</div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light"></h5>
            </div>
        </div>
    </div>
    <div class="parallax blue-grey darken-2"><img src="img/codebg.png" alt="Unsplashed background img 2"></div>
</div>

<div class="langBox blue-grey darken-4">
<div class="container ">
    <div class="section">
        <div class="row ">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>coCodingLive offers over 100 different coding languages</h4>
                <h4>Be able code with others with all the languages in one file</h4>
                <p class="left-align light"></p>
            </div>
        </div>

    </div>
</div>
</div>

<div class="parallax-container valign-wrapper blue-grey lighten-3">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row" id="howWorksTitle">Meet the coCodingLive Team</div>
            <div class="row" id="howWorksTitle"></div>
            <div class="row center">
                <div class="col s4" id="div3Info"><img src="img/jaycenimage.png" id="imageSize2"><h5>Jaycen                                                 Milling</h5><h5>Full Stack</h5></div>
                <div class="col s4" id="div3Info"><img src="img/mekaimage.png"id="imageSize"><h5>Meka Knepley</h5><h5>Full                                  Stack</h5></div>
                <div class="col s4" id="div3Info"><img src="img/greyhoundimage.png"id="imageSize"><h5>Shelby Deel</h5><h5>FrontEnd</h5></div>
                <div class="col s12"id="div3Info"></div>
                <div class="col s12"id="div3Info"></div>
                <!--<div class="col s12"id="div3Info"><h4>Start Learning to Code Today</h4></div>-->
                <div class="row" id="howWorksTitle">Start Learning to Code Today</div>
                <h5 class="header col s12 light"><a class="btn modal-trigger pulse" data-target="loginModal" href="#loginModal">Start                       Now</a></h5>
            </div>
        </div>
    </div>
</div>


<div id="loginModal" class="modal modal-fixed-footer center authModal blue">
    <div id="loginBox">
        <div class="content">
            <div class="title">coCodingLive Login</div>
            <input id="loginUsername" type="text" placeholder="Coder Name"/>
            <input id="loginPassword" type="password" placeholder="Password"/>
            <input type="checkbox" id="rememberMe"/>
            <label for="rememberMe"></label><span>I have read and agree to the <a href="#">Terms of Use </a>and <a href="#">Privacy                Policy</a></span>
            <button id="loginSubmit">Sign In</button>
            <div class="social"> <span>or sign in with social media</span></div>
            <div class="buttons">
                <button class="facebook"><i class="fa fa-facebook"></i>Facebook</button>
                <button class="twitter"><i class="fa fa-twitter"></i>Twitter</button>
                <button class="google"><i class="fa fa-google-plus"></i>Google</button>
            </div>
        </div>
</div>
</div>

<footer class="page-footer blue-grey darken-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">coCodingLive</h5>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">About the team</h5>
                <ul>
                <li><a class="white-text" href="https://github.com/jaycen9887">Jacyen Milling</a></li>
                <li><a class="white-text" href="https://github.com/mekaknepley">Meka Knepley</a></li>
                <li><a class="white-text" href="https://github.com/shelbina">Shelby Deel</a></li>
                    <!--<li><a class="white-text" href="#!">Link 4</a></li>-->
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Contact Us</h5>
                <!--<ul>-->
                    <!--<li><a class="white-text" href="#!">Link 1</a></li>-->
                    <!--<li><a class="white-text" href="#!">Link 2</a></li>-->
                    <!--<li><a class="white-text" href="#!">Link 3</a></li>-->
                    <!--<li><a class="white-text" href="#!">Link 4</a></li>-->
                <!--</ul>-->
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
        </div>
    </div>

          <h6> © 2017 coCodingLive</h6>
</footer>

   <!---------------------------------------------javascript---------------------------------------------------------->
<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script>
    $(document).ready(function() {
        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
        $('.modal').modal({
            opacity: .9
        });

        $('.button-collapse').sideNav();
        $('.parallax').parallax();
    });

    $(".facebook").click(function(){
        window.location.href="/auth/facebook";
    });

    $(".twitter").click(function(){
        window.location.href="/auth/twitter";
    });

    $(".google").click(function(){
        window.location.href="/auth/google";
    });

    $("#signUpSubmit").click(function(){
        var username = $("#signUpUsername").val().trim();
        var password = $("#signUpPassword").val().trim();

        var jqxhr = $.post( "/signup", { username:username, password:password }, function() {
                console.log( "Sent Sign Up" );
            })
            .done(function(response) {
                //console.log(response);
               window.location.href = "/room";
            })
            .fail(function() {
                console.log( "Sign Up Fail" );
            });
    });


    $("#loginSubmit").click(function() {
        var username = $("#loginUsername").val().trim();
        var password = $("#loginPassword").val().trim();

        var jqxhr = $.post( "/login", { username:username, password:password }, function() {
                    console.log( "Sent Login" );
                })
                .done(function(response) {
                    //console.log(response);
                    window.location.href = "/room";
                })
                .fail(function() {
                    console.log( "Login Fail" );
                });

    });
</script>
