<form class="logoutForm" action="/logout" method="GET">
    <button type="submit">LOG OUT</button>
</form>
<ul id="messages"></ul>
<form id="chatForm" action="">
    <input id="m" autocomplete="off" /><button>Send</button>
</form>
<!------------------------------------------------------------shelby------------------------------------------------->
<!-- Navbar Start -->
<<<<<<< HEAD
<nav class="blue-grey darken-4">
    <div class="nav-wrapper">
        <div id="navPosition">
            <img id="robotsSize"src="img/logorobot.png" alt="robotlogo">
            <a id="logo-container " href="#" class="brand-logo">coCodingLive</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <!--<li><a href="#">Companies</a></li>-->
                <li><a href="#">{{username}} is signed In</a></li>
                <li><a class="btn modal-trigger" data-target="loginModal" href="#loginModal">Sign Out</a></li>
            </ul>
            <!--<ul id="nav-mobile" class="side-nav">-->
            <!--<li><a class="btn modal-trigger" data-target="loginModal" href="#loginModal">Login</a></li>-->
            <!--</ul>-->
            <!--<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>-->
        </div>
    </div>
</nav>
=======
<!--<nav class="blue-grey darken-3 z-depth-5" role="navigation">-->
    <!--<div class="nav-wrapper container">-->
        <!--<a id="logo-container" href="#" class="brand-logo"><i class="large material-icons left">code</i>coCoding Live</a>-->
        <!--<ul class="right hide-on-med-and-down">-->
            <!--<li><a href="sass.html"><i class="material-icons left">person</i>Username</a></li>-->
            <!--<li><a class="waves-effect waves-light btn-tiny"><i class="material-icons left">lock</i>Sign Out</a></li>-->
        <!--</ul>-->
        <!--<ul id="nav-mobile" class="side-nav">-->
            <!--<li><a href="sass.html"><i class="material-icons left">person</i>Username</a></li>-->
            <!--<li><a class="waves-effect waves-light btn-tiny"><i class="material-icons left">lock</i>Sign Out</a></li>-->
        <!--</ul>-->
        <!--<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>-->
<!-->>>>>>> 4e63e368f3803295cddb90e3ccfee0161749a65b-->
    <!--</div>-->
<!--</nav>-->
<!-- Navbar End -->
<!-- Main Body Start -->
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <!-- Sidebar Start -->
        <ul id="slide-out" class="side-nav">
            <h4>Languages</h4>
            <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header waves-effect waves-teal"><i class="material-icons">list</i>Open</div>
                    <div class="collapsible-body">
                        <ul>
                            <li>From my files</li>
                            <li>From Classroom</li>
                        </ul>
                    </div>
                </li>
<<<<<<< HEAD
=======
                            
>>>>>>> 4e63e368f3803295cddb90e3ccfee0161749a65b
                <li>
                    <div class="collapsible-header waves-effect waves-teal"><i class="material-icons">list</i>Save</div>
                    <div class="collapsible-body">
                        <ul>
                            <li>Save as...</li>
                            <li>Save</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header waves-effect waves-teal"><i class="material-icons">list</i>Share</div>
                    <div class="collapsible-body">
                        <ul>
                            <li>With everyone</li>
                            <li>Email</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header waves-effect waves-teal"><i class="material-icons">list</i>A-C</div>
                    <div class="collapsible-body">
               <span>
               <ul class="languages">
               <li><a href="#js">APL</a></li>
               <li><a href="#js">ASN.1</a></li>
               <li><a href="#js">Asterisk dialplan</a></li>
               <li><a href="#js">Brainfuck</a></li>
               <li><a href="#js">C</a></li>
               <li><a href="#js">C++</a></li>
               <li><a href="#js">C#</a></li>
               <li><a href="#js">Ceylon</a></li>
               <li><a href="#js">Clojure</a></li>
               <li><a href="#js">Closure Stylesheets</a></li>
               <li><a href="#js">CMake</a></li>
               <li><a href="#js">COBOL</a></li>
               <li><a href="#js">CoffeeScript</a></li>
               <li><a href="#js">Common Lisp</a></li>
               <li><a href="#js">Crystal</a></li>
               <li><a href="#js">CSS</a></li>
               <li><a href="#js">Cypher</a></li>
               <li><a href="#js">Cython</a></li>
               </ul>
               </span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header waves-effect waves-teal"><i class="material-icons">list</i>D-F</div>
                    <div class="collapsible-body">
               <span>
               <ul class="languages">
               <li><a href="#js">D</a></li>
               <li><a href="#js">Dart</a></li>
               <li><a href="#js">Django</a></li>
               <li><a href="#js">Dockerfile</a></li>
               <li><a href="#js">diff</a></li>
               <li><a href="#js">DTD</a></li>
               <li><a href="#js">Dylan</a></li>
               <li><a href="#js">EBNF</a></li>
               <li><a href="#js">ECL</a></li>
               <li><a href="#js">Eiffel</a></li>
               <li><a href="#js">Elixir</a></li>
               <li><a href="#js">Elm</a></li>
               <li><a href="#js">Erlang</a></li>
               <li><a href="#js">Factor</a></li>
               <li><a href="#js">FCL</a></li>
               <li><a href="#js">Forth</a></li>
               <li><a href="#js">Fortran</a></li>
               <li><a href="#js">F#</a></li>
               </ul>
               </span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header waves-effect waves-teal"><i class="material-icons">list</i>G-J</div>
                    <div class="collapsible-body">
               <span>
               <ul class="languages">
               <li><a href="#js">Gas</a></li>
               <li><a href="#js">Gherkin</a></li>
               <li><a href="#js">Go</a></li>
               <li><a href="#js">Groovy</a></li>
               <li><a href="#js">HAML</a></li>
               <li><a href="#js">Handlebars</a></li>
               <li><a href="#js">Haskell</a></li>
               <li><a href="#js">Haxe</a></li>
               <li><a href="#js">HTML (JSP,ASP.net)</a></li>
               <li><a href="#js">HTML mix-mode</a></li>
               <li><a href="#js">HTTP</a></li>
               <li><a href="#js">IDL</a></li>
               <li><a href="#js">Java</a></li>
               <li><a href="#js">JavaScript</a></li>
               <li><a href="#js">Jinja2</a></li>
               <li><a href="#js">Julia</a></li>
               </ul>
               </span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header waves-effect waves-teal"><i class="material-icons">list</i>K-O</div>
                    <div class="collapsible-body">
               <span>
               <ul class="languages">
               <li><a href="#js">Kotlin</a></li>
               <li><a href="#js">LESS</a></li>
               <li><a href="#js">LiveScript</a></li>
               <li><a href="#js">Lua</a></li>
               <li><a href="#js">Markdown</a></li>
               <li><a href="#js">Mathematica</a></li>
               <li><a href="#js">mbox</a></li>
               <li><a href="#js">mIRC</a></li>
               <li><a href="#js">Modelica</a></li>
               <li><a href="#js">MscGen</a></li>
               <li><a href="#js">MUMPS</a></li>
               <li><a href="#js">Nginx</a></li>
               <li><a href="#js">NSIS</a></li>
               <li><a href="#js">N-Triples/N-Quads</a></li>
               <li><a href="#js">Objective C</a></li>
               <li><a href="#js">OCaml</a></li>
               <li><a href="#js">Octave</a></li>
               <li><a href="#js">Oz</a></li>
               </ul>
               </span>
                    </div>
                <li>
                    <div class="collapsible-header waves-effect waves-teal"><i class="material-icons">list</i>P-R</div>
                    <div class="collapsible-body">
               <span>
               <ul class="languages">
               <li><a href="#js">Pascal</a></li>
               <li><a href="#js">PEG.js</a></li>
               <li><a href="#js">Perl</a></li>
               <li><a href="#js">PGP</a></li>
               <li><a href="#js">PHP</a></li>
               <li><a href="#js">Pig Latin</a></li>
               <li><a href="#js">PowerShell</a></li>
               <li><a href="#js">Properties files</a></li>
               <li><a href="#js">ProtoBuf</a></li>
               <li><a href="#js">Pug</a></li>
               <li><a href="#js">Puppet</a></li>
               <li><a href="#js">Python</a></li>
               <li><a href="#js">Q</a></li>
               <li><a href="#js">R</a></li>
               <li><a href="#js">RPM</a></li>
               <li><a href="#js">reStructuredText</a></li>
               <li><a href="#js">Ruby</a></li>
               <li><a href="#js">Rust</a></li>
               </ul>
               </span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header waves-effect waves-teal"><i class="material-icons">list</i>S</div>
                    <div class="collapsible-body">
               <span>
               <ul class="languages">
               <li><a href="#js">SAS</a></li>
               <li><a href="#js">Sass</a></li>
               <li><a href="#js">Spreadsheet</a></li>
               <li><a href="#js">Scala</a></li>
               <li><a href="#js">Scheme</a></li>
               <li><a href="#js">SCSS</a></li>
               <li><a href="#js">Shell</a></li>
               <li><a href="#js">Sieve</a></li>
               <li><a href="#js">Slim</a></li>
               <li><a href="#js">Smalltalk</a></li>
               <li><a href="#js">Smarty</a></li>
               <li><a href="#js">Soir</a></li>
               <li><a href="#js">Soy</a></li>
               <li><a href="#js">Stylus</a></li>
               <li><a href="#js">SQL</a></li>
               <li><a href="#js">SPARQL</a></li>
               <li><a href="#js">Squirrel</a></li>
               <li><a href="#js">Swift</a></li>
               <li><a href="#js">sTex LaTeX</a></li>
               </ul>
               </span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header waves-effect waves-teal"><i class="material-icons">list</i>T-Z</div>
                    <div class="collapsible-body">
               <span>
               <ul class="languages">
               <li><a href="#js">Tcl</a></li>
               <li><a href="#js">Textile</a></li>
               <li><a href="#js">Tiddlywiki</a></li>
               <li><a href="#js">Tiki wiki</a></li>
               <li><a href="#js">TOML</a></li>
               <li><a href="#js">Tornado</a></li>
               <li><a href="#js">troff</a></li>
               <li><a href="#js">TTCN</a></li>
               <li><a href="#js">TTCN Configuration</a></li>
               <li><a href="#js">Turtle</a></li>
               <li><a href="#js">Twig</a></li>
               <li><a href="#js">VB.NET</a></li>
               <li><a href="#js">VBScript</a></li>
               <li><a href="#js">Velocity</a></li>
               <li><a href="#js">Verilog</a></li>
               <li><a href="#js">VHDL</a></li>
               <li><a href="#js">Vue.js app</a></li>
               <li><a href="#js">Web IDL</a></li>
               <li><a href="#js">XML/HTML</a></li>
               <li><a href="#js">XQuery</a></li>
               <li><a href="#js">Yacas</a></li>
               <li><a href="#js">YAML</a></li>
               <li><a href="#js">YAML frontmatter</a></li>
               <li><a href="#js">Z80</a></li>
               <li><a href="#js">zenburn.css</a></li>
               </ul>
               </span>
                    </div>
                </li>
            </ul>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        <!-- Sidebar End -->
        <div class="row center">
            <!-- Terminal Start -->
            <div class="header col s8 light z-depth-3 terminal">
                    <div id="nav">
                            <!-- File Dropdown Structure -->
                            <ul id="file" class="dropdown-content">
                                <li><a href="#new" class="modal-trigger">New</a></li>
                                <li><a href="#open" class="modal-trigger">Open</a></li>
                                <li><a href="#save" class="modal-trigger">Save</a></li>
                                <li><a href="#saveas" class="modal-trigger">Save As...</a></li>
                                <li><a href="#collab" class="modal-trigger">Collaborate</a></li>
                                <li class="divider"></li>
                                <div id="recent">
                                    <h6>Recent Files</h6>
                                    <ul>
                                        <li><a href="#">Test.js</a></li>
                                    </ul>
                                </div>
                            </ul> <!-- END FILE DROPDOWN STRUCTURE-->


                            <!-- LANGUAGE DROPDOWN STRUCTURE-->
                            <ul id="language" class="dropdown-content">
                                <li><a id="cPlusPlus">C++</a></li>
                                <li><a id="cSharp">C#</a></li>
                                <li><a id="handlebars">Handlebars</a></li>
                                <li><a id="html">HTML</a></li>
                                <li><a id="javascript">JavaScript</a></li>
                                <li><a id="json">JSON</a></li>
                                <li><a id="php">PHP</a></li>
                                <li><a id="txt">TXT</a></li>
                            </ul> <!-- END LANGUAGE DROPDOWN STRUCTURE-->
                            <nav id="toolbar">
                                <div class="nav-wrapper">
                                    <ul class="left">
                                    <!-- Dropdown Trigger -->
                                        <li><a class="dropdown" href="#!" data-activates="file">File</a></li>
                                        <li><a class="dropdown" href="#!" data-activates="language">Language</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div> <!-- END NAV -->

                        <form id="preview-form">
                            <textarea class="codemirror-textarea" name="editor-value" id="editor-value" rows="4" cols="10"></textarea>
                            <br>
                            <input type="submit" name="submit" id="submit" value="submit">
                        </form>

                            <!--<div id="preview"></div>-->

                        <!--<div id="code">
                            <textarea class="codemirror-textarea" rows="4" cols="10"></textarea>
                        </div> -->


                        <!-- MODALS -->
                <!----------------------------------------------------------------------------------------------->

                        <div id="saveas" class="modal">
                            <div class="modal-content">
                                <h4>Save As...</h4>
                                <!-- drop down for file location, buttons for go up a level and create new folder -->
                                <div class="row">
                                    <div class="input-field col s6 offset-s1">
                                        <select id="file-directory">
                                            <option value="" disabled selected>Save in</option>
                                        </select>
                                    </div>
                                    <div class="col s1 offset-s1"><i class="small material-icons" title="Up One Level">arrow_drop_up</i></div>
                                    <div class="col s1"><i class="small material-icons" title="Create New Folder">add</i></div>
                                </div>
                                <!-- window that lists files within that file location currently selected -->
                                <div class="row">
                                    <div class="col s10 offset-s1" id="file-location">
                                        <ul>
                                            <li>Test.js</li>
                                            <li>Test.css</li>
                                            <li>Test.html</li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- text box for file name -->
                                <div class="row">
                                    <div class="input-field col s6 offset-s1">
                                        <input placeholder="File Name" id="file-name" type="text">
                                    </div>
                                    <div class="col s2 offset-s1">
                                        <a class="modal-action waves-effect waves-light btn">Save</a>
                                    </div>
                                </div>
                                <!-- drop down for save as type with a list of file types -->
                                <div class="row">
                                    <div class="input-field col s6 offset-s1">
                                        <select id="file-type">
                                            <option value="" disabled selected>Save as type</option>
                                            <option value="handlebars"> Handlebars File (*.handlebars) </option>
                                            <option value="html"> Hypertext Markup Language File (*.html) </option>
                                            <option value="js"> JavaScript File (*.js) </option>
                                            <option value="json"> JavaScript Object Notation File (*.json) </option>
                                            <option value="php"> PHP - Hypertext Preprocessor File (*.php) </option>
                                            <option value="html"> TXT - Normal Text File (*.txt) </option>
                                        </select>
                                    </div>
                                    <div class="col s2 offset-s1">
                                        <a href="#!" class="modal-action modal-close waves-effect waves-light btn">Cancel</a>
                                    </div>
                                </div>            
                        </div>
                    </div> <!-- END SAVEAS MODAL-->

                <!----------------------------------------------------------------------------------------------->

                        <div id="save" class="modal">
                        <div class="modal-content">
                            <h4>Save</h4>
                            <!-- drop down for file location, buttons for go up a level and create new folder -->
                            <div class="row">
                                <div class="input-field col s6 offset-s1">
                                    <select id="file-directory">
                                        <option value="" disabled selected>Save in</option>
                                    </select>
                                </div>
                                <div class="col s1 offset-s1"><i class="small material-icons" title="Up One Level">arrow_drop_up</i></div>
                                <div class="col s1"><i class="small material-icons" title="Create New Folder">add</i></div>
                            </div>
                            <!-- window that lists files within that file location currently selected -->
                            <div class="row">
                                <div class="col s10 offset-s1" id="file-location">
                                    <ul>
                                        <li>Test.js</li>
                                        <li>Test.css</li>
                                        <li>Test.html</li>
                                    </ul>
                                </div>
                            </div>
                            <!-- text box for file name -->
                            <div class="row">
                                <div class="input-field col s6 offset-s1">
                                    <input placeholder="File Name" id="file-name" type="text">
                                </div>
                                <div class="col s2 offset-s1">
                                    <a class="modal-action waves-effect waves-light btn">Save</a>
                                </div>
                            </div>
                            <!-- drop down for save as type with a list of file types -->
                            <div class="row">
                                <div class="input-field col s6 offset-s1">
                                    <select id="file-type">
                                        <option value="" disabled selected>Save as type</option>
                                        <option value="handlebars"> Handlebars File (*.handlebars) </option>
                                        <option value="html"> Hypertext Markup Language File (*.html) </option>
                                        <option value="js"> JavaScript File (*.js) </option>
                                        <option value="json"> JavaScript Object Notation File (*.json) </option>
                                        <option value="php"> PHP - Hypertext Preprocessor File (*.php) </option>
                                        <option value="html"> TXT - Normal Text File (*.txt) </option>
                                    </select>
                                </div>
                                <div class="col s2 offset-s1">
                                    <a href="#!" class="modal-action modal-close waves-effect waves-light btn">Cancel</a>
                                </div>
                            </div>            
                        </div>
                    </div> <!-- END SAVE MODAL-->

                <!----------------------------------------------------------------------------------------------->

                        <div id="open" class="modal">
                            <div class="modal-content">
                                <h4>Open File</h4>
                                <!-- drop down for file location, buttons for go up a level and create new folder -->
                                <div class="row">
                                    <div class="input-field col s6 offset-s1">
                                        <select id="file-directory">
                                            <option value="" disabled selected>Select Folder</option>
                                        </select>
                                    </div>
                                    <div class="col s1 offset-s1"><i class="small material-icons" title="Up One Level">arrow_drop_up</i></div>
                                    <div class="col s1"><i class="small material-icons" title="Create New Folder">add</i></div>
                                </div>
                                <!-- window that lists files within that file location currently selected -->
                                <div class="row">
                                    <div class="col s10 offset-s1" id="file-location">
                                        <ul>
                                            <li>Test.js</li>
                                            <li>Test.css</li>
                                            <li>Test.html</li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- text box for file name -->
                                <div class="row">
                                    <div class="input-field col s6 offset-s1">
                                        <input placeholder="File Name" id="file-name" type="text">
                                    </div>

                                </div>
                                <!-- drop down for save as type with a list of file types -->
                                <div class="row">
                                    <div class="col s2 offset-s1">
                                        <a class="modal-action waves-effect waves-light btn">Open</a>
                                    </div>
                                    <div class="col s2 offset-s1">
                                        <a href="#" class="modal-action modal-close waves-effect waves-light btn">Cancel</a>
                                    </div>
                                </div>            
                            </div>
                        </div> <!-- END OPEN MODAL-->

                <!----------------------------------------------------------------------------------------------->

                        <div id="new" class="modal">
                            <div class="modal-content">
                                <h4>New File</h4>
                                <!-- drop down for file location, buttons for go up a level and create new folder -->
                                <div class="row">
                                    <div class="input-field col s6 offset-s1">
                                        <select id="file-directory">
                                            <option value="" disabled selected>Select Folder</option>
                                        </select>
                                    </div>
                                    <div class="col s1 offset-s1"><i class="small material-icons" title="Up One Level">arrow_drop_up</i></div>
                                    <div class="col s1"><i class="small material-icons" title="Create New Folder">add</i></div>
                                </div>
                                <!-- window that lists files within that file location currently selected -->
                                <div class="row">
                                    <div class="col s10 offset-s1" id="file-location">
                                        <ul>
                                            <li>Test.js</li>
                                            <li>Test.css</li>
                                            <li>Test.html</li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- text box for file name -->
                                <div class="row">
                                    <div class="input-field col s6 offset-s1">
                                        <input placeholder="File Name" id="file-name" type="text">
                                    </div>
                                    <div class="col s2 offset-s1">
                                        <a class="modal-action waves-effect waves-light btn">Save</a>
                                    </div>
                                </div>
                                <!-- drop down for save as type with a list of file types -->
                                <div class="row">
                                    <div class="input-field col s6 offset-s1">
                                        <select id="file-type">
                                            <option value="" disabled selected>Save as type</option>
                                            <option value="handlebars"> Handlebars File (*.handlebars) </option>
                                            <option value="html"> Hypertext Markup Language File (*.html) </option>
                                            <option value="js"> JavaScript File (*.js) </option>
                                            <option value="json"> JavaScript Object Notation File (*.json) </option>
                                            <option value="php"> PHP - Hypertext Preprocessor File (*.php) </option>
                                            <option value="html"> TXT - Normal Text File (*.txt) </option>
                                        </select>
                                    </div>
                                    <div class="col s2 offset-s1">
                                        <a href="#!" class="modal-action modal-close waves-effect waves-light btn">Cancel</a>
                                    </div>
                                </div>            
                        </div>
                    </div> <!-- END NEW MODAL-->

                <!----------------------------------------------------------------------------------------------->

                        <div id="collab" class="modal">
                            <div class="modal-content">
                                <h4>Collaborate</h4>
                                <!-- drop down for file location, buttons for go up a level and create new folder -->
                                <div class="row">

                                    <div class="col s2 offset-s1">
                                        <a href="/room=1&user=user1" class="modal-action waves-effect waves-light btn">Collaborate</a>
                                    </div>
                                    <div class="col s2 offset-s1">
                                        <a href="#!" class="modal-action modal-close waves-effect waves-light btn">Cancel</a>
                                </div>
                            </div>
                        </div> 
                    </div><!-- END NEW MODAL-->

                <!----------------------------------------------------------------------------------------------->
                        <script>
                            $(document).ready(function(){
                            $('.dropdown').dropdown({
                               belowOrigin: true
                            });

                            $('select').material_select();

                            $('.modal').modal();
                        });
                        </script><!-- END SCRIPT -->
                </div>    
            <!-- Terminal End -->
            <!-- Chat Start -->
            <div class="header col s3 offset-s1 light z-depth-3 chat">
                Chat
                <p>Chat
                <p>Chat
                <p>Chat
                <p>Chat
            </div>
            <!-- Chat End -->
        </div>
        <div class="row center">
            <!-- Live Terminal Start -->
            <div id="preview" class="header col s8 light z-depth-3 liveTerminal">
                
            </div>
            <!-- Live Terminal End -->
            <!-- Video Start -->
            <div class="header col s3 offset-s1 light z-depth-3 video">
                Video
                <p>Video
                <p>Video
                <p>Video
                <p>Video
            </div>
            <!-- Video End -->
        </div>
    </div>
</div>
<!--Modal 1 Start for Careers -->
<div id="careers" class="modal">
    <div class="modal-content">
        <h4>Careers</h4>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="icon_prefix" type="text" class="validate">
                        <label for="icon_prefix">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">phone</i>
                        <input id="icon_telephone" type="tel" class="validate">
                        <label for="icon_telephone">Telephone</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Modal 1 End for Careers -->
<!-- Main Body End-->
<!-- Footer Start -->
<footer class="page-footer blue-grey darken-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">coCoding Live</h5>
                <p class="grey-text text-lighten-4">Code with peers from the cloud. Anywhere. Anytime. All tools included.</p>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">About</h5>
                <ul>
                    <li><a class="white-text" href="https://github.com/mekaknepley">Meka</a></li>
                    <li><a class="white-text" href="https://github.com/jaycen9887">Jacyen</a></li>
                    <li><a class="white-text" href="https://github.com/shelbina">Shelby</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="https://facebook.com">Facebook</a></li>
                    <li><a class="white-text" href="https://twitter.com">Twitter</a></li>
                    <li><a class="white-text modal-trigger" href="#careers"><i class="tiny material-icons left">work</i>Careers</a></li>
                    <li><a class="white-text modal-trigger" href="https://paypal.com"><i class="tiny material-icons left">monetization_on</i>Donate</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2017 coCodingLive
        </div>
    </div>
</footer>
<!-- Footer End -->
<!------------------------------------------------------------shelby------------------------------------------------->
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="materialize.min.js"></script>
<script>
    var socket = io();
    $(function () {
        var socket = io();
        $('#chatForm').submit(function(){
            socket.emit('chat message', "{{username}}: " + $('#m').val());
            $('#m').val('');
            return false;
        });
    });
    socket.on('chat message', function(msg){
        $('#messages').append($('<li>').text(msg));
    });

//    shelby script
    // Initialize collapse button
    $(".button-collapse").sideNav({
        menuWidth: 200,
        edge: 'left',
        closeOnClick: true,
        draggable: true,
        onOpen: function(el) {  },
        onClose: function(el) {  },
    });
    //initialize popout
    $(document).ready(function(){
        $('.collapsible').collapsible();
    });

    //modals
    $(document).ready(function(){
        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
    });
</script>

