<form id="preview-form">
	<textarea class="codemirror-textarea" name="editor-value" id="editor-value" rows="4" cols="10" onkeyup="write()"></textarea>
	<br>
	<input type="submit" name="submit" id="submit" value="submit">
</form>