body {
    /*background-color: #E0EEEE;*/
    background: linear-gradient(-90deg,#E0EEEE, #388E8E);
}


@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

.navbar-brand, a {
    color: white;
}

.navbar-inverseBot {
    background-color: #4A777A;
    border-color: lightgrey;
    height: 60px;
    margin-top: 0px;
    color: white;
}
#nav1 {
    height: 60px;
    margin-bottom: 0px;
}
